gcp_service_account/

# Terraform lock/state and secrets
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfvars.json

# License file (British spelling)
licence.txt

# Environment files
.env